$image_spacing: 8px
$page_width: 750px

$atkinson-font-path: "assets/fonts/atkinson";

@font-face
  src: url("#{$atkinson-font-path}/Atkinson-Hyperlegible-Regular-102a.woff2") format('woff2')
  font-family: 'Atkinson'

@font-face
  src: url("#{$atkinson-font-path}/Atkinson-Hyperlegible-Bold-102a.woff2") format('woff2')
  font-weight: bold
  font-family: 'Atkinson'

@font-face
  src: url("#{$atkinson-font-path}/Atkinson-Hyperlegible-Italic-102a.woff2") format('woff2')
  font-style: italic
  font-family: 'Atkinson'

@font-face
  src: url("#{$atkinson-font-path}/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format('woff2')
  font-style: italic
  font-weight: bold
  font-family: 'Atkinson'

*
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

img
  display: block
  max-width: 100%
  margin-left: auto
  margin-right: auto

.img_row
  width: 100%
  box-sizing: border-box
  .col
    float: left
    padding: $image_spacing
  .one_third
    width: 33.33%
  .half
    width: 50%
  .three_quarters
    width: 70%
  .quarter
    width: 30%

div.showcase
  width: 100%
  display: block
  overflow: auto
  img
    margin-bottom: 14px

article
  h2
    margin-top: 0px
    margin-bottom: 0px
  p
    font-size: 19px
  

.caption
  margin-top: 5px
  font-size: 14px
  text-align: center

p.gallery_caption
  margin: 2px
  font-size: 13px
  color: #666
  text-align: center

p.date
  font-size: 14px
  margin-top: 0px

hr
  border: #222
  color: #333
  background-color: #222

nav
  height: 70px
  margin-bottom: 10px
  font-size: 19px
  span#homelink
    font-size: 22px
    margin-top: 10px
    max-width: 200px
    float: left
  span#navlinks
    padding: 10px
    float: right
  a
    padding: 5px
    color: #444
    margin: 5px auto
    line-height: 1.5
  a:hover
    color: #777

a
  text-decoration: none

body
  font-family: 'Atkinson'
  padding: 11px
  margin: 40px auto
  max-width: $page_width
  line-height: 1.6
  font-size: 23px
  color: #222
  overflow: auto

p.work_desc
  text-align: center
  font-size: 15px

pre
  padding: 8px
  font-size: 19px
  overflow: auto

h1
  text-align: center

.post_title
  margin-bottom: 3px

.page_title
  margin-bottom: 3px
  text-align: center

h1, h2, h3
  line-height: 1.2

table
  border-spacing: 20px
  margin-right: auto
  margin-left: auto

