<!-- See linkfree_license.txt in this directory  -->

{% include "head.html" %}
<style>
:root {
    --background: white;
    --color: #232333;
}

body{
    background-color: var(--background);
    color: var(--color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

footer{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 20px;
}

#userPhoto{
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    border: solid var(--color) 2px;
}

#userName{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 1.25;
    display: block;
    color: var(--color);
}

#links{
    max-width: 90%;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link{
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 5px;
    border: dashed var(--color) 2px;
    text-align: center;
    text-decoration: none;
    color: var(--color);
    word-wrap: break-word;

}
</style>
</head>

<body>
    <div class="container">
    <div class="content">
        <img id="userPhoto" src="assets/avatar.jpg" alt="User Photo">

        <h1><a href="#" id="userName" rel="noopener">turnage</a></h1>
        <div id="links">
            <a class="link" href="https://github.com/turnage" rel="noopener">github</a>
            <a class="link" href="https://inarticulate.xyz"
	      rel="noopener">writing blog</a>
            <a class="link" href="/writing"
	      rel="noopener">technical essays</a>
            <a class="link" href="https://instagram.com/venlute" rel="noopener">instagram</a>
            <a class="link" href="https://twitter.com/PaytonTurnage"
	      rel="noopener">twitter</a>
            <a class="link" href="https://foundation.app/@turnage" rel="noopener">nfts</a>
        </div>

        <footer>Contact me at pt@ on this domain</footer>
    </div>
    </div>
</body>
