{% include "head.html" %}
</head>

<body>
    {% include "nav.html" %}
    <h2 class="post_title">{{ page.title }}</h2>
    <p class="date">{{ page.date }}</p>
    <article>
    {{ page.content | safe }}
    </article>

    {% include "mailing_list.html" %}

    <link rel="stylesheet"
	  href="{{ get_url(path="third_party/littlefoot/littlefoot.css") }}"/>
    <script src="{{ get_url(path="third_party/littlefoot/littlefoot.js") }}"
	    type="application/javascript">
    </script>
    <script type="application/javascript">
	littlefoot.littlefoot()
    </script>
</body>
