{% include "head.html" %}
</head>

<body>
    {% include "nav.html" %}
    <div class="img_row">
        <div class="col three_quarters showcase">
            {% for asset in page.assets %}
            {% if asset is containing("main") %}
            <img src="{{ get_url(path=asset) }}"></img>
            {% endif %}
            {% endfor %}
            {% for asset in page.assets %}
            {% if asset is containing("detail") %}
            <img src="{{ get_url(path=asset) }}"></img>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col quarter pitch">
            <h2>{{page.title}}</h2>
            <p class="caption">{{page.date}}</p>
        </div>
    </div>
</body>