{% include "head.html" %}
</head>

<body>
  {% include "nav.html" %}
  <p class="work_desc">All my work is <a href="https://en.wikipedia.org/wiki/Generative_art">generative</a>, generated
    by
    programs I write.</p>
  <div class="gallery img_row">
    {% for work in section.pages %}
    {% for asset in work.assets %}
    {% if asset is containing("preview") %}
    <div class="col half">
      <a href="{{ work.permalink }}">
        <img src="{{ get_url(path=asset) }}"></img>
      </a>
      <p class="gallery_caption">{{ work.title }} | {{ work.date }}</p>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
</body>
